body {

    padding: 4em;
    text-align: center;
}

section {

    margin-top: 1em;
    background-color: aquamarine;
    height: 10em;
}

.boton {

    background-color: burlywood;
    color: #ffffff;
    padding: 2em;
    border: 2px solid black;
    border-radius: 1em;
    text-decoration: none;
}

